<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_position %><br>
    <%= f.text_field :from_position %>
  </div>
  <div class="field">
    <%= f.label :to_position %><br>
    <%= f.text_field :to_position %>
  </div>

  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
